@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&family=Prata&display=swap');

:root{
    --light:#F2F6F5;
    --green:#105652;
    --gradient:linear-gradient(90deg, var(--light), var(--green));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.logo{
    width: auto;

}

body {
    color: var(--green);
    background-color: var(--light);
    font-family: Poppins;
}

h1
{
  font-family: Prata;
  font-size: 70px;
}

h2,h3,h4,h5,h6
{
  font-family: 'Poppins';
}

h2{
  font-size: 36px;
}

h3{
  font-size: 26px;
}
h4{
  font-size: 24px;
}
h5{
  font-size: 20px;
  color: #FF8B00;
}

p{
    font-size: 16px;
    font-weight: 1rem;
}

.container{
  max-width: 1166px;
  margin: 0 auto;
}

header .navigation{
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}


header .navigation .navigation-items ul{
  padding-left: 0;
}

header .navigation .navigation-items ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

header .navigation .navigation-items a{
  position: relative;
  color: var(--green);
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s ease
}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: var(--green);
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
  width: 100%;
}

section{
  padding: 100px 200px;
}


.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("cover.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner h1{
  line-height: 80px;
  font-weight: 300;
  margin-bottom: 10px;
}

/*GLOBAL BUTTON STYLE*/

.btn{
  position: relative;
  display: inline-block;
  width: 250px;
  height: 60px;
  background-color:var(--green);
  color: var(--light);
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  z-index: 9;
  margin-top: 50px;
  transition: all ease 0.5s;
}

.btn :before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--green);
  opacity: .9;
  z-index: -1;
  transition: all ease 0.5s;
}

.btn:hover {
  color: var(--green);
  background: #fff;
}

.btn:hover before {
  top: 0;
  height: 100%;
}

.brand-logo{

}

.sec1{
  position: relative;
  padding: 80px 0;  
}

.sec1 h3{
  text-transform: uppercase;
  line-height: 40px;
}

.sec1-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sec1 .text{
  width: 47%;
}

.sec1 .text-left{
  text-align: right;
}

.sec1 .text-right{
  text-align: left;
}

.sec1:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent, var(--green), transparent);
}

.sec1:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent, var(--green), transparent);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.icons-container{
    background:var(--green);
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    padding:2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}

.icons-container .icons img{
    height:5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color:#333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span{
    color:#555;
    font-size: 1.3rem;
}

.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex:1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width:100%;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 3rem;
    background:#fff;
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.video-container h3{
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 3rem;
    background:#fff;
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#333;
}

.about .row .content p{
    font-size: 1.2rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}


.about{
    background:white;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}

.about .column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .column .image{
    flex:1 1 40rem;
}

.about .column .image img{
    width:80%;
}

.about .column .content{
    flex:1 1 40rem;
}

.about .column .content h3{
    padding-left: 10px;
    font-size: 4rem;
    color:#666;
}


.about .column .content p{
    padding-left: 10px;
    font-size: 1.5rem;
    color: #696969;
   
}

.about .column .content .buttons a:last-child{
    margin-left: 2rem;
}

.about span{
    color:var(--pink);
}




 /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 20%;
  }

html{
  scroll-behavior: smooth;
}



sec-01{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: var(--green);
}

.container-sec{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title{
  font-size: 4em;
  margin-bottom: 50px;
}

.content-sec {
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-sec .image{
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.content-sec .image img{
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content-sec .text-box{
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.content-sec .text-box h3{
  font-size: 2em;
  margin-bottom: 10px;
}

.media-icons{
  margin-top: 100px;
}

.media-icons a{
  color: #fff;
  font-size: 2em;
  margin: 60px;
}

.section-title{
  font-size: 3em;
  margin-bottom: 80px;
}

.info-title{
  font-size: 1.8em;
  margin-bottom: 10px;
}

.info{
  width: 700px;
  margin-left: 50px;
}

.media-info{
  width: 400px;
  margin-left: 50px;
}

.media-info li{
  list-style: none;
  font-size: 1.4em;
}

.media-info li a{
  color: #fff;
  text-decoration: none;
}

.media-info li:not(:last-child){
  margin-bottom: 50px;
}

.media-info li:nth-child(1), .media-info li:nth-child(5){
  padding-left: 100px;
}

.media-info li:nth-child(2), .media-info li:nth-child(4){
  padding-left: 50px;
}

.sec-03{
  margin-bottom: 100px;
}

footer{
  position: relative;
  background: var(--light);
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: var(--green);
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: var(--green);
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: var(--light);
}
.top .media-icons a:nth-child(1):hover{
  color: var(--light);
  background: var(--green);
}
.top .media-icons a:nth-child(2){
  background: var(--light);
}
.top .media-icons a:nth-child(2):hover{
  color: var(--light);
  background: var(--green);
}
.top .media-icons a:nth-child(3){
  background: var(--light);
}
.top .media-icons a:nth-child(3):hover{
  color: var(--light);
  background: var(--green);
}

.top .media-icons a:nth-child(4){
  background: var(--light);
}
.top .media-icons a:nth-child(4):hover{
  color: var(--light);
  background: var(--green);
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #323232;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: var(--green);
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #fff;
  background: #fff;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #323232;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: var(--green);
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: var(--light);
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #323232;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}
